.light-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    
    &.ms-check-gray {
        background-color: gray;
    }

    &.ms-check-red {
        background-color: red;
    }

    &.ms-check-yellow {
        background-color: yellow;
    }

    &.ms-check-green {
        background-color: green;
    }

}

.action-function {
    cursor: pointer;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.btn {
    margin-right: 2px;
}