<h3>Dados</h3>
<table class="table table-bordered">
    <thead>
        <th>
            N° do Serviço
        </th>
        <th>
            Tempo de Resposta
        </th>
        <th>
            Estatisticas
        </th>
        <th>
            Ativado?
        </th>
        <th>
            Ações
        </th>
    </thead>
    <tbody>
        
        <tr *ngFor="let pod of pods;let i = index">
            <td>
                {{pod.hashName}}
            </td>
            <td>
                <ng-container *ngIf="!pod.timeResponse; else time">
                    <span class="badge badge-primary">Aguardando chamada</span>
                </ng-container>
                <ng-template #time>
                    <div>
                        <div class="light-status {{checkTimeIcon(pod.timeResponse)}}"></div>
                        <span>{{pod.timeResponse}}ms</span>
                    </div>
                </ng-template>
            </td>

            <td class="text-center">
                <span class="estatistica">

                    <span class="badge badge-success">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        {{pod.getCountSuccess()}}
                    </span>

                    <span class="badge badge-danger">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        {{pod.getCountError()}}
                    </span>

                    <span class="badge badge-primary">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{pod.getAverageTimeResponse()}}ms
                    </span>

                    <span *ngIf="pod.getHasLoop()" class="badge badge-info">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        {{pod.getLoopRemain()}}
                    </span>
                    
                </span>
            </td>

            <td class="text-center">
                <div [innerHTML]="pod.getPodStatus() | podStatusPipe"></div>
            </td>
            <td>
                
                <button *ngIf="pod.getPodStatus() !== ERROR && pod.getPodStatus() !== FINALIZADO" type="button" class="btn btn-info" (click)="pauseContinueService(pod)">
                    <i 
                    class="fa" 
                    [class.fa-pause-circle]="pod.getPodStatus() === ATIVO" 
                    [class.fa-play-circle]="pod.getPodStatus() === DESATIVADO" 
                    aria-hidden="true">
                    </i>
                </button>
                
                <button [disabled]="pod.getPodStatus() === FINALIZADO" type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#podModal' + i">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>

            </td>

            <!-- Modal -->
            <div class="modal fade" id="podModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Deseja apagar o Pod?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja realmente apagar o POD {{pod.hashName}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="killPod(pod)">Apagar</button>
                </div>
                </div>
            </div>
            </div>

        </tr>
    </tbody>
</table>
